<html>

<head>
  <title>gpsrpg</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
</head>

<body>
  <div>
      <jumbotron style="text-align: center">
          <h1>Add New Item ( not working )</h1>
          <p><%=error%></p>
      </jumbotron>
      <div class="container">
        <form style="justify-content: center" id="item-form" method="post" action="">
            <div class="form-group">
                <label for="item-name">Item Name</label>
                <input type="text" class="form-control" id="item-name" placeholder="new name" name="item_name">
            </div>
            <div class="row w-100" style="justify-content: space-around">
                <div class="form-group" style="width:10rem">
                    <label for="level-req">Required Level</label>
                    <input type="number" class="form-control" id="level-req" name="level_req" value="1">
                </div>
            </div>
            <div class="row w-100" style="justify-content: center">
                <div class="form-group">
                    <label for="effect">Effect</label>
                    <input type="text" class="form-control" id="effect" placeholder="effect" name="effect">
                </div>
            </div>
            <div class="row w-100" style="justify-content: center">
                <div class="form-group">
                    <label for="img-link">Link to Image</label>
                    <input type="text" class="form-control" id="img-link" placeholder="link" name="link">
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col" style="justify-content: center; display:flex">
                    <button type="submit" class="btn btn-success w-50">Submit</button>
                </div>
                <div class="col" style="justify-content: center; display:flex">
                    <button type="button" class="btn btn-primary w-50" onclick="reset()">reset</button>
                </div>
            </div>
        </form>
      </div>
  </div>
</body>
<script>
    function reset(){
        document.getElementById("item-form").reset();
    }
</script>

</html>
